@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #4a4947;
    color: #e3e3e3;
    font-family: "Source Sans Pro", sans-serif;
}

.post-summary-container {
    border-top: solid 1px #96b4ff;
}

.post-summary {
    border-bottom: solid 1px #96b4ff;
    padding: 1em;
}

.post-title {
    color: #96b4ff
}